# Nettoyage BDD Loyer

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("loyers.csv", sep=';', encoding='utf-8')

##### On supprime les colonnes inutiles

In [13]:
colonnes_a_supprimer = ["Secteurs géographiques", "Numéro du quartier", "Ville","geo_shape"]
df = df.drop(columns=colonnes_a_supprimer, errors='ignore')

##### Le dataframe ne contient pas de valeurs NaN ou null, ni de doublons

##### Nettoyage des coordonnées GPS (format "lat, lon")

In [ ]:
df[['lat', 'lon']] = df['geo_point_2d'].str.split(',', expand=True)
df['lat'] = df['lat'].astype(float)
df['lon'] = df['lon'].astype(float)

suppression de la colonne 'geo_point_2d'

In [17]:
df = df.drop('geo_point_2d', axis=1)

In [18]:
df.head()

,Année,Nom du quartier,Nombre de pièces principales,Epoque de construction,Type de location,Loyers de référence,Loyers de référence majorés,Loyers de référence minorés,Numéro INSEE du quartier,lat,lon
0,2024,Porte-Saint-Martin,3,Apres 1990,meublé,25.5,30.6,17.9,7511039,48.871245,2.361504
1,2024,Bercy,1,1946-1970,meublé,28.8,34.6,20.2,7511247,48.835209,2.386210
2,2025,Chaussée-d'Antin,2,1946-1970,non meublé,28.5,34.2,20.0,7510934,48.873547,2.332269
3,2025,Notre-Dame-des-Champs,3,Apres 1990,non meublé,30.2,36.2,21.1,7510623,48.846428,2.327357
4,2023,Muette,4,Apres 1990,meublé,29.3,35.2,20.5,7511662,48.863275,2.259936

Création d'un CSV de notre base nettoyé

In [19]:

# (Optionnel) Sauvegarde du fichier nettoyé
df.to_csv("loyers_nettoye.csv", sep=';', index=False, encoding='utf-8')

## Aperçu BDD

In [9]:
df.head

<bound method NDFrame.head of        Année        Nom du quartier  Nombre de pièces principales  \
0       2024     Porte-Saint-Martin                             3
1       2024                  Bercy                             1
2       2025       Chaussée-d'Antin                             2
3       2025  Notre-Dame-des-Champs                             3
4       2023                 Muette                             4
...      ...                    ...                           ...
17915   2022           Palais-Royal                             2
17916   2022             Notre-Dame                             1
17917   2022                Gaillon                             1
17918   2023           Montparnasse                             2
17919   2023            Javel 15Art                             2

      Epoque de construction Type de location  Loyers de référence  \
0                 Apres 1990           meublé                 25.5
1                  1946-1970           meublé                 28.8
2                  1946-1970       non meublé                 28.5
3                 Apres 1990       non meublé                 30.2
4                 Apres 1990           meublé                 29.3
...                      ...              ...                  ...
17915             Avant 1946           meublé                 32.6
17916             Apres 1990           meublé                 35.9
17917             Apres 1990       non meublé                 31.9
17918              1971-1990           meublé                 26.7
17919             Avant 1946       non meublé                 25.0

       Loyers de référence majorés  Loyers de référence minorés  \
0                            30.60                        17.90
1                            34.60                        20.20
2                            34.20                        20.00
3                            36.20                        21.10
4                            35.20                        20.50
...                            ...                          ...
17915                        39.12                        22.82
17916                        43.08                        25.13
17917                        38.28                        22.33
17918                        32.00                        18.70
17919                        30.00                        17.50

       Numéro INSEE du quartier                            geo_point_2d  \
0                       7511039   48.87124465089237, 2.3615036473450113
1                       7511247  48.835209049865114, 2.3862100842120184
2                       7510934    48.87354738020911, 2.332268868869704
3                       7510623    48.84642759400415, 2.327356878234607
4                       7511662    48.86327454383974, 2.259935831704838
...                         ...                                     ...
17915                   7510103   48.86465997810256, 2.3363089189653063
17916                   7510416  48.852895586218004, 2.3527750121216795
17917                   7510205  48.869306638088744, 2.3334318076581146
17918                   7511453     48.8376230959726, 2.331783822887114
17919                   7511560   48.83906040108164, 2.2780763469189345

             lat       lon
0      48.871245  2.361504
1      48.835209  2.386210
2      48.873547  2.332269
3      48.846428  2.327357
4      48.863275  2.259936
...          ...       ...
17915  48.864660  2.336309
17916  48.852896  2.352775
17917  48.869307  2.333432
17918  48.837623  2.331784
17919  48.839060  2.278076

[17920 rows x 12 columns]>

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17920 entries, 0 to 17919
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Année                         17920 non-null  int64
 1   Nom du quartier               17920 non-null  object
 2   Nombre de pièces principales  17920 non-null  int64
 3   Epoque de construction        17920 non-null  object
 4   Type de location              17920 non-null  object
 5   Loyers de référence           17920 non-null  float64
 6   Loyers de référence majorés   17920 non-null  float64
 7   Loyers de référence minorés   17920 non-null  float64
 8   Numéro INSEE du quartier      17920 non-null  int64
 9   geo_point_2d                  17920 non-null  object
 10  lat                           17920 non-null  float64
 11  lon                           17920 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 1.6+ MB